@font-face {
  font-family: "Tondo";
  src: url("../fonts/tondo/tondo.eot");
  src: local("☺"), url("../fonts/tondo/tondo.woff") format("woff"), url("../fonts/tondo/tondo.ttf") format("truetype"), url("../fonts/tondo/tondo.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
