.clear{
	clear: both;
}

//используется для прижатия футера к низу браузера
.df-minheight{
	min-height: 350px !important;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.df-for-footer {
    min-height: 100%;
    margin-bottom: -50px;
}
* html .df-for-footer {
    height: 100%;
}
.df-footer2{
	position: relative;
	bottom: 0;
}
//=========================

//				TIME-KARGOPHP
.df-timekargo{
	//display: table;
	//margin: 0 auto;
	h2{
		font-family: "tondo";
		font-size: 30px; color:#343434;
		text-align: center;
		margin: 25px 54px 57px 0;//35
		font-family: TondoCorp;
	}
	
	.df-block1, .df-block2, .df-block3{
		//display:table-cell;
		//float: left;
		border-right:1px solid red;
		margin: 0 auto;
		padding-bottom: 7px;
		h4{
			font-size: 18px; color:#343434; text-transform: uppercase;
			text-align: center;
			display: block;
			//padding-bottom: 11px;
			border-bottom: 1px solid red;
			font-family: TondoCorp;
			padding:0px 12px 11px 0px;
		}
		span{
			font-size: 16px;font-family: "tondo";
			border-bottom: 1px solid red;
			height: 89.5px;//94
			display: block;//
			line-height: 16px;
			font-family: TondoCorp;			
		}
		.dfbox{
			//display:table;
			//width: 320px;
			width: 100%;
			margin: 0 auto;
			padding-top: 15px;			
			img{
				//display: table-cell;
				//float: left;
				display: block;				
				width: 60px;
				height: 55px;
				margin-top: 17px;
				text-align: center;
				margin: 0 auto;
			}
			span{
				//display: table-cell;
				text-align: center;
				//display: inline-block;//		
				font-size: 16px;color:#5a5959;				
				//padding: 12px 37px 18px 22px;
				padding: 17px 30px 18px 26px;
				vertical-align: top;				
			}
		}
	}

	.df-block2, .df-block3{
		//display:inline-block;
		//width: 320px;
		h4{
			text-transform: none;
		}
		.dfpadright{
			padding-right: 7px;
		}
		span{
			//display:inline-block;
			display: block;		
			font-size: 16px;color:#5a5959;
			text-align: left;
			padding: 15px 42px 18px 22px;//7042
			vertical-align: top;
			
		}		
	}

	.df-block2{
		h4{
			color:#276f04;
		}
		span{
			//padding-bottom: 20px;
			//background: url(/img/df-plus.png)no-repeat left 12px center;			
			color:#276f04;
			padding-left: 50px;
			position: relative;
		}
		span:after{
			content: " ";
			position: absolute;
			background: url(/img/df-plus.png);
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			left: 13px;
    		top: 30px;	
		}
	}
	.df-block3{		
		h4{
			color:#fe0000;
			border-bottom: 1px solid red;
		}		
		span{
			padding-bottom: 20px;
			//background: url(/img/df-minus.png)no-repeat left 12px center;			
			color:#fe0000;
			padding-left: 50px;			
			border-bottom: 1px solid red;
			position: relative;
		}
		span:before{
			content: " ";
			position: absolute;
			background: url(/img/df-minus.png);
			background-repeat: no-repeat;
			width: 30px;
			height: 30px;
			left: 13px;
    		top: 30px;	
		}
		
	}
}


// economy95
.dfmargin{
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;//59
	.df-economy{	
		display: inline-block;
		max-width: 675px;
		width: 100%;

		//margin-left: 107px;
		.df-imgbox{
			display: inline-block;
			//float: left;
			width: 125px;
			height: 110px;
			margin: 0 auto;						
		}
		span{
			display: block;
			font-family: TondoCorp;
			float: left;
			font-size: 24px; color:#dd3c3c;
			font-family: "Arial";
			font-weight: bold;
			//width:75%;
			text-align: left;			
			margin: 8px 0 10px 17px;//
			text-align: center;
		}	
	}
	.dfbutton{
		//margin-left: 20px;
		text-align: center;
		//text-align: left;
		.button1{
			padding: 13px 35px;
		}
	}
}




//history zapros)
.my-container{
	max-width: 1215px;
	width: 100%;
	margin: 0 auto;
}
.df-history{
	.df-toptext{
		margin-bottom: 7.5px;
		span{
			font-size: 16px; color:#373737;
			display: inline-block;
			font-family: TondoCorp;
		}
		.df-show-in{
			display: inline-block;
			font-family: TondoCorp;
			float: right;
			span{
				color:#373737;
				font-size: 14px;
				display: inline-block;
			}
			a{
				text-decoration: underline;
				color:#373737;
				font-size: 14px;
				display: inline-block;
			}
			a:hover{
				text-decoration: none;
			}
			a.active{
				text-decoration: none;
			}
		}
	}
	.df-table{
		.df-topcaption{
			height: 38px;
			background: #FF3939;			
			td{
				font-size: 14px; color:#ffffff;font-family: TondoCorp;
				text-decoration: underline;
				padding: 12px 0 10px 0;
				text-align: center;
			}
			td:nth-child(1){width: auto;  }
			td:nth-child(2){width: auto;}
			td:nth-child(3){ width: auto;}
			td:nth-child(4){ width: auto;}
		}
		.df-text-blocks{
			font-family: TondoCorp;
			border-bottom: 1px solid #e25d5d;
			.df1, .df2, .df3, .df4{
				text-align: center;
				vertical-align: middle;
				border-right:1px solid #e25d5d;
				em{
					color:#2b7a04;font-size: 12px;
				}
				span{
					color:#373737;font-size: 12px;
				}
			}
			.df1{
				color:#2b7a04;
				font-size: 14px;							
			}
			.df2{
				font-size: 18px;
				color:#373737;
			}
			.df3{
				padding-left: 7px;
				padding-top: 23px;
				em{
					font-size: 14px;
				}				
				span{
					font-size: 14px;				
					display: inline-block;
				}				
				a{
					font-size: 14px;color:#dd3c3c;
					text-decoration: underline;
				}
				a:hover{
					text-decoration: none;
				}
			}
			.df4{
				padding: 12px 0px 15px 20px;
				border-right: none;
				line-height: 12.5px;

			}
			.df3, .df4{
				text-align: left;
			}
		}
	}
	.df-bottomtext{
		margin: 7px 0 185px 0;
		.df-show-in{
			display: inline-block;
			font-family: TondoCorp;
			padding-top: 10px;
			span{
				color:#373737;
				font-size: 14px;
				display: inline-block;
			}
			a{
				text-decoration: underline;
				color:#373737;
				font-size: 14px;
				display: inline-block;
			}
			a:hover{
				text-decoration: none;
			}
			a.active{
				text-decoration: none;
			}
		}
		.df-warning{
			float: right;
			display: inline-block;
			font-size: 14px; color:#dd3c3c;font-family: TondoCorp;
			text-decoration: underline;
		}		
	}
}



//SELECTIONPHP


.df-selection{
	font-family: TondoCorp;
	margin-top: 40px;
	.df-caption{
		font-size: 16px; color:#373737;
		margin-bottom: 8px;
		margin-left: 19px;
	}
	.df-search{
		background: #FF3939;	
		margin: 0 auto;
		text-align: center;//<<<<
		//padding:20px 0 18px 37px;
		padding: 20px 0;
		border-radius: 2px;
		margin-bottom: 25px;	
		span{
			font-size: 16px;color:#ffffff;
			margin-right: 20px;
			padding-bottom: 10px;
			display: inline-block;
		}
		input{
			margin-right: 20px;
			margin-bottom: 10px;
			margin-left: 15px;
		}
		.input-class{
			width: 250px;
		}
		.button1{
			padding: 7px 65px;
			border-radius: 5px 5px 10px 10px;
			font-size: 18px;
			text-transform: none;			
		}
		
	}
	.df-content{
		border-bottom: 1px solid #dd3c3c;
		//padding-top: 40px;
		padding: 15px 0  0px 0;
		.df-boxleft, .df-boxright{
			font-size: 14px;
			display: inline-block;
			padding:0 9px;
			float: left;
			margin-left: 20px;			
			span{
				color:#373737;
				display: block;
			}
			em{
				color:#2b7a04;				
			}
			.button1{
				border-radius: 2px 2px  10px 10px;
				margin-top: 5px;
				padding: 6px 31px;
				text-transform: none;
				font-size: 14px;			
			}
			.df-cod{
				color:#dd3c3c;
				text-decoration: underline;
				display: inline-block;
				display: block;
				margin: 10px 0 17px 0;
			}
			.df-cod:hover{
				text-decoration: none;
			}
		}
		.df-boxright{
			max-width: 885px;
			width: 100%;
			margin-left: 10px;
			margin-top: -3px;
			display: block;
		}
	}
	.df-content:last-child{
		border:none;
	}
}


// who need cargo
.df-bg-color{
	background:  #FF3939;	
	.df-who-need{
		margin: 0 auto;
		text-align: center;
		h2{
			color:#fff;
			margin: 20px 0 59px 0;
			letter-spacing: 0.5px;
		}
		.df-blocks-one{
			//display: inline-block;
			text-align: center;
			margin: 0 auto;
			//margin-right: 55px;
			span{
				color:#fff;
				font-size: 17px;letter-spacing: 0.5px;
				font-family: TondoCorp;
				display: inline-block;
				margin-bottom: 10px;
			}			
			.df-imgbox{
				box-shadow:  0 0 4px 1px white;
				margin: 0 auto;
				margin-bottom: 20px;
				height: 254px;
				width: 194px;
				img{
					width: 100%;
					height: 100%;					
				}
			}
			.button1{
				margin-bottom: 20px;
				padding: 13px 60px;
				font-size: 20px;
				text-transform: none;
			}
			.dfpadding{
				padding: 13px 40px;
			}
		}	
	}
}


// PASSWORD-CHANGE

.df-password-change{	
	font-family: TondoCorp;
	//margin-bottom: 170px;
	margin-top: 40px;
		.df-caption-top{
			font-size: 16px; color:#373737;
			text-align: center;
			margin-bottom: 9px;
			span{
				color:#2b7a04;
			}
		}
		.df-bg-color{
			background:  #FF3939;	
			border-radius: 10px;
			padding: 26px 15px;//0
			text-align: center;
			width: 683px;
			//width: 100%;
			margin: 0 auto;		
			.df-inputs{
				margin-bottom: 12px;
				span{
					font-size: 16px; color:#fff;
					display: inline-block;				
					text-align: center;
					margin-right: 11px;	
					display: block;	
					vertical-align: middle;	
				}
				input{
					max-width: 285px;
					width: 100%;				
					height: 31px;
					font-size: 16px;
					color:#373737;
					vertical-align: top;
					padding-bottom: 9px;
					display:block;
					margin: 0 auto;
				}			
			}
			.df-buttons{
				margin-top: 22px;
				.button1{
					padding: 7px 15px;
					border-radius: 5px 5px 10px 10px;
					text-transform: none;
					font-size: 18px;				
					margin-bottom: 15px;				
				}
				.df-but{
					padding: 7px 43px;
					margin-right: 0px;
				}
			}
		}
	
}

//header 2 min -height 

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
	.df-timekargo{
	display: table;
	margin: 0 auto;	
		.df-block1, .df-block2, .df-block3{
			display:table-cell;
			float: left;
			.dfbox{
			display:table;
			width: 320px;
			padding-top: 0px !important;			
			img{				
				float: left;
				margin-top: 17px;				
			}
			span{				
				text-align: left;
				margin-left: 55px;				
			}
		}		
		}
		.df-block2, .df-block3{
			display:inline-block;
			width: 320px;
			span{
				display:inline-block;
			}		
		}
		.df-block1{
			h4{
				position: relative;
				border:none;
				margin-left: 22px;
			}
			h4:after{
				content: "";
				position: absolute;
				border-bottom: 1px solid red;
				width: 241px;
				right:0;
				bottom:-1px;
			}
			span{
				height: 89.7px;
			}		
		}
		.df-block2{
			width: 263px;
		}
		.df-block3{
			border-right: none;
			h4{			
			border:none;
			position: relative;
			text-align: left;
			padding-left: 60px;
			}
			h4:after{
				content: "";
				position: absolute;
				border-bottom: 1px solid red;
				width: 205px;
				left:0;
				bottom:-1px;
			}			
			span{			
			position: relative;
			border:none;
			}
			span:after{
				content: "";
				position: absolute;
				border-bottom: 1px solid red;
				width: 225px;
				left:0;
				bottom:-1px;
			}			
		}	
	}
	//economy95	
	.dfmargin{	
		margin-bottom: 59px;//59
	.df-economy{	
		margin-left: 107px;
		.df-imgbox{			
			float: left;						
		}
		span{			
			width:75%;			
			margin: 8px 0 0px 17px;//
			text-align: left;			
		}	
	}
	.dfbutton{
		margin-left: 20px;		
		text-align: center;		
	}
	}


	//WHO NEED KARGO
	.df-bg-color{		
		.df-blocks-one{
			display: inline-block;
			margin: 0 auto;			
			margin-right: 55px !important;
		}
		.dffirst{
			
		}
		.dfcenter{
			margin-right: 45px !important;		
		}
		.dflast{
			margin-right: 0px !important;					
		}
	}

	//PASSWORD CHANGE
	.df-password-change{
	.df-caption-top{
		margin-left: 230px;
		display: inline-block;
		text-align: center;
	}	
	.df-bg-color{		
		padding: 26px 0px;//0		
		.df-inputs{
			margin-bottom: 12px;
			span{				
			    text-align: right;
			    display: inline-block;				
			}
			input{				
				margin-right: 20px;
				display: inline-block;
			}
			.df2{
				margin-right: 55px;
			}
		}
		.df-buttons{
			margin-top: 22px;
			.button1{				
				margin-right: 11px;
				margin-bottom: 0px;				
			}			
		}
	}
}




}




@media only screen and (min-width : 992px) {
	//history zapros)

	.df-table{			
		td:nth-child(1){ min-width: 215px; }
		td:nth-child(2){ min-width: 172px;}
		td:nth-child(3){ min-width: 300px;}
		// td:nth-child(4){ min-width: 410px;}//510
	}
	.df4{
		padding: 12px 45px 15px 20px;
	}


	//SELECTIONPHP
	.df-selection{
		.df-search{		
		text-align: left;
		padding:20px 0 18px 37px;			
		span{			
			padding-bottom: 0px;			
		}
		input{			
			margin-bottom: 0px;
			margin-left: 0px;
		}
		.input-class{
			width: 372px;
		}
		
		
	}	
	.df-content{		
		.df-boxleft, .df-boxright{			
			
		}
		.df-boxright{			
			margin-left: 43px;			
		}
	}
	
}
	
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}