// @import "reset.css";
// @import "style.css";
// @import "style2.css";
// @import "style3.css";
// @import "fonts.css";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
// Общие стили ///////////////

// Цвет
$red:#FF3939;
$brown:#343434;
$green:#007000;

// Заголовок
h2{
	font-family: TondoCorp;
	font-size: 30px;
}

// Кнопка
.button1{
	background: #343434;
	display: inline-block;
	border-radius:10px;
	padding:13px 27px;
	color: #fff;
	font-family: TondoCorp;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	border: 1px solid rgba(255, 255, 255, 0.55);
	box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.75);
}

// инпут
.input-class{
	outline:none;
	border:none;
	border-radius:10px;
	height: 29px;
	padding-left:15px;
	font-family: TondoCorp;
	font-size: 16px;
	color:#343434;
}

// Чекбокс
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;      
    width: 21px;             
    height: 21px;            
    background:url(../img/chek1.png) no-repeat;
}
.checkbox-custom, .label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";             
    display: block;          
    position: absolute;      
    top: 4px;
    right: 2px;
    bottom: 2px;
    left: 3px;
    background: url(../img/galka.png) no-repeat;
    border-radius: 2px;
}

//////////////////////////////////

// Шапка /////////////////////////

.dd-header{
	width: 100%;
	padding-top:50px; 
	height: 557px;
	background: url('../img/dd-h.jpg') no-repeat top center;
	background-size:cover; 
	.main-container{
		padding: 16px 30px;
		.dd-logo{
			text-align:center;
		}
		.dd-main-menu{
			ul{
				border-radius:10px;
				background: $red;
				width: 644px;
				padding:7px 0px;
				opacity: 0.9;
				li{
					display: inline-block;
					padding-left:26px; 
					a{
						color: white;
						font-family: "TondoCorp";
						font-size: 17px;
					}
				}
			}
		}
		.dd-log-in{
			width: 204px;
			margin: 0 auto;	
			border-radius:10px;
			background: $red;
			padding:7px 0px 7px 24px;
			opacity: 0.9;
			box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.18);
			a{
				display: inline-block;
				color: white;
				font-family: "TondoCorp";
				font-size: 17px;
			}
			a:first-child{
				padding-right:7px; 
			}
			a:last-child{
				border-left:3px solid #fff;
				padding-left:8px; 
			}
		}
		.dd-slogan{
			color: white;
			font-family: "TondoCorp";
			text-align:center;
			// margin-top:145px;
			margin-top:43px;
			span{
				// font-size:60px;
				font-size:45px;
				span:first-child{
					font-size:38px;
				}
				.dd-2{
					text-transform:uppercase;
					font-size:38px;
				}
			}
		}
		.dd-button-header{
			text-align:center;
			.button1{
				padding:13px 35px;
			}
		}
	}
}
.dd-header-pass-remember{
	background: none;
	height: auto;
}
/* Меню для мобильных устройств */

    #check_1{
        display: none;
        position: fixed;
        top: 25px;
        right: 25px;
        font-size: 50px; 
    }
    .anz-perspective{
        position: fixed;
        top: 0px;
        height: 100%;
        -webkit-perspective: 500px; 
        perspective: 500px;
        z-index: 150;
    }
  
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -330px;
    }
    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(90deg);
    }
    .anz-menu-ch{
        cursor: pointer;    
    }

/*конец menu*/

/*menu styles*/
.anz-menu{
    text-align: right;
    .dd-mainmenu{
    	li{
    		a{
    			color: #fff;
    			font-family: "TondoCorp";
    			font-size: 16px;
    		}
		    a:before{
		        position: absolute;
		        bottom: -2px;
		        left: 0px;
		        content: '';
		        width: 0%;
		        height: 3px;
		        background: #777;//#cd1719;
		        transition: width 0.5s ease-in-out;
		    }
		    a:hover:before{
		        width: 100%;
		    }
    	}
    }
}
.menu-list-pressed{
    border-radius:10px;
    width: 228px;
    height: 100%;
    padding: 30px;
    line-height: 40px;
    background: $red;
    opacity: 0.9;
    text-align: left;
}
.anz-menu-ch{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 22px;
    right:25px;
    z-index: 9999;
}
.anz-menu-ch:hover{
    opacity: 0.3;
}
.main-menu{
    text-align: left;
}
.anz-menu-ch1{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 0px;
    right:-8px;
    // opacity: 0.4;
    cursor: pointer;
}
.anz-menu-ch1:hover{
    opacity: 0.8;
}

/*Конец menu styles*/

// Конец шапки //////////////////

// Футер ////////////////////////

.dd-footer{
	background: $brown;
	padding:22px 0px; 
	.footer-logo, .dd-footer-txt, .dd-log-in{
		margin-bottom:22px;
		text-align:center;
	} 
	.footer-logo{
		.dd-logo-txt{
			span{
				color: white;
				font-family:"TondoCorp";
				font-size: 12px;
				span{
					text-transform:uppercase;
				}
			}
		}
	}
	.dd-footer-txt{
		ul{
			li{
				a{
					color: white;
					font-family: "TondoCorp";
					font-size: 17px;
					line-height: 24px;
					text-decoration: underline;
				}
			}
		}
	}
	.dd-log-in{
		// width: 292px;
		margin: 0 auto;	
		border-radius:10px;
		background: $red;
		padding:7px 0px;
		// padding:7px 0px 7px 31px;
		opacity: 0.9;
		box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.18);
		a{
			display: inline-block;
			color: white;
			font-family: "TondoCorp";
			font-size: 16px;
			text-decoration:underline;
		}
		a:first-child{
			padding-right:7px; 
		}
		a:last-child{
			border-left:1px solid #fff;
			padding-left:8px; 
		}
	}

	.dd-oferta{
		width: 183px;
		margin:15px auto;
		a{
			display: inline-block;
			color: white;
			font-family: "TondoCorp";
			font-size: 12px;
			line-height: 24px;
			text-decoration: underline;
		}
	}
}
// Конец Футера /////////////////

// Обработка ////////////////////
.dd-header-processing{
	min-height: 100%;
    margin-bottom: -242px;
	width: 100%;
	background-size:cover; 
	.main-container{
		padding: 16px 30px;

		.dd-logo{
			text-align:center;
		}
		.dd-main-menu{
			ul{
				border-radius:10px;
				background: $red;
				width: 674px;
				padding:7px 0px;
				opacity: 0.9;
				li{
					display: inline-block;
					padding-left:16px; 
					a{
						color: white;
						font-family: "TondoCorp";
						font-size: 17px;
					}
				}
			}
		}
		.dd-log-in{
			width: 204px;
			margin: 0 auto;	
			border-radius:10px;
			background: $red;
			padding:7px 0px 7px 32px;
			opacity: 0.9;
			box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.18);
			a{
				display: inline-block;
				color: white;
				font-family: "TondoCorp";
				font-size: 16px;
			}
			a:first-child{
				padding-right:7px; 
			}
			a:last-child{
				border-left:2px solid #fff;
				padding-left:8px; 
			}
		}
		.dd-obrabotka-wrap{
			margin-top: 31px;
			.dd-title{
				padding-bottom:7px; 
				padding-left: 5px;
				display: inline-block;
				span{
					color: #373737;
					font-family:"TondoCorp";
					font-size: 16px;
				}
			}
			.dd-bg{
				background: $red;
				// padding: 19px 53px; dekstop
				padding: 19px 10px;
				border-radius:10px;
				.dd-form{
					.dd-name{
						span{
							color: white;
							font-family: "TondoCorp";
							font-size: 16px;	
						}
					}
					.dd-input{
						position: relative;
						.input-class{
							width: 100%;
						}
						.dd-submit{
							position: absolute;
							right:11px;
							top:2px;
						}
					}
					.dd-butt{
						text-align:center;
						margin-top:10px;
						.button1{
							color: white;
							font-family: "TondoCorp";
							font-size: 18px;
							text-decoration: underline;
							text-transform:none;
							padding:5px 52px;
						}
					}
				}
			}
			.dd-result{
				margin-top: 26px;
				padding-left: 12px;
				span{
					font-family: "TondoCorp";
					font-size: 18px;
					color: #373737;
					display: block;
				}
				.dd-c-w{
					display: inline-block;
					.dd-c{
						display: inline-block;
						color: #2b7a04;
					}
				}
			}
		}
	}
}
* html .dd-header-processing {
    height: 100%;
}
.proof{
	height: 300px;
}
.dd-log-info{ 
	width: 360px;
	padding-left:10px; 
	span{
		font-family:"TondoCorp";
		font-size: 12px;
		color: #373737;
		span{
			color: #2b7a04;
		}
	}
	.dd-pleft{
		margin-left:14px;
	}
	a{
		font-family:"TondoCorp";
		font-size: 12px;
		color: #373737;
		text-decoration: underline;
	}
}
.dd-log-info2{ 
	// width: 360px;
	// padding-left:10px;
	// outline:1px solid #fff;
	margin-top: 20px;
	line-height:22px;
	// outline:1px solid black;
	span{
		font-family:"TondoCorp";
		font-size: 18px;
		color: #373737;
		display: inline-block;
		span{
			// color: #2b7a04;
			color:#fff;
		}
	}
	a{
		font-family:"TondoCorp";
		font-size: 14px;
		// color: #373737;
		color:#fff;
		text-decoration: underline;
	}
}
// Конец обработка //////////////

.dd-remember-wrap{
	background: $red;
	border-radius:15px;
	text-align:center;
	padding: 15px 16px 29px;
	margin-bottom: 10px;
	span{
		display: block;
	}
	span:first-child{
		color: white;
		font-family: "TondoCorp";
		font-size: 18px;
		text-decoration: underline;
		padding-bottom: 19px;
	}
	.dd-pass{
		color: white;
		font-family: "TondoCorp";
		font-size: 18px;
		text-decoration: unset;
		padding-bottom: 19px;
	}
	.dd-unset{
		text-decoration: unset !important;
	}
	span:nth-child(2){
		color: white;
		font-family: "TondoCorp";
		font-size: 16px;
		padding-bottom: 15px;
	}
	.dd-forma{
		span{
				display: block;
				padding-bottom: 10px;
			}
		form{
			.button1{
				margin-top: 10px;
				font-size:15px;
				text-transform:unset;
				padding: 13px 40px;
			}
			.dd-button2{
				text-transform: uppercase;
			}
			.dd-button3{
				padding: 13px 28px;
			}
			.dd-chek-autorization{
				display: inline-block;
				text-align: center;
				margin-top:10px; 		
				.dd-chek-lable{
					display: table;
					.chekbox{
						display: table-cell;
					}
					.label{
						display: table-cell;
						padding-left: 10px;
						color: white;
						font-family: "TondoCorp";
						font-size: 14px;
						cursor:pointer;
					}
				}
				.dd-rem-the-pass-but{
					a{
						color: white;
						font-family: "TondoCorp";
						font-size: 14px;
						text-decoration: underline;
						display: block;
					}
				}
			}
		}
	}	
}
.proof2{
	height:250px;
}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {






}

@media only screen and (min-width : 992px) {

	.dd-remember-wrap{
		width: 828px;
		padding: 15px 0 29px;
		margin:192px auto 0px;
		.dd-forma{
			span{
				padding-bottom: 10px;
			}
			form{
				.dd-table{
					display: table;
					margin:0 auto;
					span{
						display: table-cell;
					}
					input{
						width: 199px;
						display: table-cell;
						margin-left: 10px;
					}
					.dd-pass{
						padding-left: 29px;
					}
				}
				.button1{
					margin-top: 25px;
					font-size:18px;
					padding: 13px 77px;
				}
				.dd-button3{
					padding: 13px 52px;
					margin-top: 17px;
				}
			.dd-chek-autorization{
				margin-top: 23px;
				.dd-chek-lable{
					float:left;
				}
				.dd-rem-the-pass-but{
					float:left;
					padding-left: 24px;
				}
			}
		}
	}
}
	.dd-autoriz{
		margin:186px auto !important;
	}	

	.dd-header{ 
		padding-top:0px;
		.main-container{
			.dd-logo{
					// width: 284px;
					text-align:left;
					float:left;
				}
				.dd-main-menu{
					float:left;
				}
				.dd-log-in{
					float:right;
				}
				.dd-slogan{
					margin-top:110px;
					span{
						font-size:60px;
					}
				}
			}
		}
		.dd-header-processing{
			padding-top:0px;
			.main-container{
				.dd-logo{
					width: 284px;
					text-align:left;
					float:left;
				}
				.dd-main-menu{
					float:left;
				}
				.dd-log-in{
					float:right;
				}
				.dd-slogan{
					margin-top:110px;
					span{
						font-size:60px;
					}
				}
				.dd-obrabotka-wrap{
					.dd-title{
						padding-bottom:5px; 
					}
					.dd-bg{
						padding: 19px 53px;
						.dd-form{
							display: table;
							.dd-name{
								width: 193px;
								display: table-cell;
							}
							.dd-input{
								display: table-cell;
								.input-class{
									width: 372px;
								}
								.dd-submit{
									top:4px;
								}
							}

							.dd-butt{
								text-align:left;
								margin-top:0px;
								a{
									margin-left:22px;
								}
							}
						}
					}
				}
			}
		}
		.proof{
			height: 14px;
		}
		.proof2{
			height: 50px;
		}
		.dd-footer{
			.footer-logo, .dd-footer-txt, .dd-log-in{
				text-align:left;
			} 
			.footer-logo{
				width: 288px;
				float:left;
				.dd-img{
					padding-left:10px; 
				}
			}
			.dd-footer-txt{
				float:left;
			}
			.dd-footer-txt2{
				width: 243px;
			}
			.dd-log-in{
				width: 292px;
				margin-left: 0px;	
				padding:7px 0px 7px 31px;
			}
			.dd-log-in-processing{
				padding:7px 0px 7px 73px;
			}
		}
}

@media only screen and (min-width : 1248px) {
	.dd-header{ 
		.main-container{
			.dd-logo{
				width: 284px;
			}
		}
	}
}
@media only screen and (min-width : 1280px) {
	.main-container{
			width: 1260px;
			margin: 0 auto;			
	}
}	