@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";
@import "var.scss";

$tdu : underline;

.prof1{
	height: 200px;
}
.prof2{
	height: 200px;	
}
.prof3{
	height: 200px;	
}
.de-proof{
	height: 190px;
}
.main-content-area{
	outline:10px solid brown;
	height: 100%;
}
////////////////////////////// 
////////////////////////////// 
////////////////////////////// 

.de-confirm_by_sms{
	// outline:1px solid black;
	border-radius: 10px; 
	font-family: 'TondoCorp'; 
	background-color: $red; 
	// margin: 0 3px; 
	padding: 10px; 
	// margin-top: 250px;
	// margin-bottom: 280px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center; 
	color: #fff; 
	.line1{
		.caption{
			font-size: 18px;
			text-decoration: $tdu;
		}
	}
	.caption2{
		font-size: 16px;
		font-size: 16px;
		margin-top: 32px;
		display: block;
		margin-left: 12px;
	}
	.line3{
		font-size: 16px;
		margin-top: 15px;
		// margin-right: 60px;
		.txt{
			// margin-left: 3px;

		}
		.inpcl2{
			border-radius: 9px;
			padding-left: 18px;
			// margin-left: 18px;
		}
	}
	.line4{
		font-size: 12px;
		
		margin-top: 17px;
		// margin-left: -26px;

		text-decoration: $tdu;
		.cpt{
			a{
				color: #fff;
			}
		}
	}
	a.registration{
		font-size: 18px;
		text-decoration: underline;
		margin-top: 19px;
		padding: 15px 20px 9px 20px;
	}
}

// 2 block 


.userprofile{
	.text{
		text-align: center;
	}

	.up-caption{
		font-size: 16px; 
		font-family: 'TondoCorp'; 
		// margin-top: -10px;
		text-align: left;
		.caption{
			display: block;
			margin-bottom: 5px;
			padding-left: 10px;
			.caption_green{
				color: #007B00; 
			}
		}
		
	}
	.up-form{

		border-radius: 10px;
		font-family: 'TondoCorp'; 
		background-color: $red; 
		margin: 0 auto; 
		margin: 0 3px; 
		text-align: center; 
		color: #fff; 

		text-align: center;
		height: 280px; 
		height: 399px; 
		margin: 0 auto; 

		.ln1{
			padding-top: 23px;
			.label1{
				font-size: 16px; 
				margin-left: -1px; 
			}
			.btn-for-label1{
				margin-left: 27px;
				height: 31px;
				// width: 285px;
			}
		}
		.ln2{
			padding-top: 10px;
			.label2{
				font-size: 16px;
				margin-left: -1px; 
			}
			.btn-for-label2{
				margin-left: 27px;
				height: 31px;
				// width: 285px;
			}
		}
		.ln3{
			padding-top: 10px;
			.label3{
				font-size: 16px;
				margin-left: -10px; 
			}
			.btn-for-label3{
				margin-left: 19px; 
				height: 31px; 
				// width: 285px; 
			}
		}
		.ln4{
			padding-top: 18px;    	
			.label4{
				font-size: 16px;
				margin-left: -60px;
			}
			.chpass_caption{
				margin-left: 27px;
				color: #fff;
				text-decoration: underline;
			}
		}
		.ln5{

			padding-top: 19px;
			.check_caption{
				font-size: 14px;
				text-decoration: underline;
			}
			label{
				margin-left: -2px;
				.label{
					margin-left: 11px;
				}
			}
		}
		
		.ln6{
			margin-top: 26px;
			.button1{
				text-transform: none;
				padding: 9px 49px;
				display: block;
			}

			.save{
				font-size: 16px;
				
			}
			.cancel{
				font-size: 16px;
				margin-top: 10px;
				
			}
		}
	}
	.up-form2{
		border-radius: 10px;
		font-family: 'TondoCorp'; 
		background-color: $red; 
		margin: 0 3px; 
		text-align: center;		
		margin: 30px auto 30px; 
		padding-top: 10px;
		padding-bottom: 10px; 
		color: #fff;

		position: relative;
		.de-img-kargo{
			height: 57px;
			left: 50%;
			position: absolute;
			top: -25px;
			transform: translate(-50%, 0%);
		}

		.ldh0{
			span{
				text-align: center;
				font-size: 18px;
				color: #fff;
				text-decoration: underline;
			}
		}

		$ld_inp_width : 120px; 
		.ldh1{
			display: table; 
			margin: 10px auto; 
			margin-top: 30px; 
			.ld1{
				display: table-cell;

				.de-input-reg{
					width: $ld_inp_width;
				}
			}
			.ld2{
				display: table-cell;

				.de-input-reg{
					width: $ld_inp_width;
				}
			}


		// end of ldh1
	}

	.ldh2{
		margin-top: 10px;
		display: table;
		margin: 10px auto;
		.ld3{
			display: table-cell;
			.de-input-reg{
				width: $ld_inp_width;
			}
		}
		.ld4{
			display: table-cell;
			.de-input-reg{
				width: $ld_inp_width;
			}
		}
		// end of ldh1
	}

	.ldh3{
		display: table;
		margin: 4px auto 10px; 
		.ldi1{
			display: table-cell;
		}
		.ldi2{
			display: table-cell;
			span{
				a{
					color:#fff; 
					text-decoration: underline;
				}
			}
		}
	}
	.ld6{
		margin-bottom: 10px;
	}
}
}

// #2.1 header 
#de-header-processing{
	// background-color: #FF6565; 
	min-height: 90px !important; 
	margin-bottom: 1px !important; 
	width: 100%; 
}
// #2.2 footer
.dd-footer{
	.de-log-in{
		width: 221px !important;
	}	
	.de-log-in > a:first-child {
		padding-left: 11px;
	}
}

////
// for footer 
.proof1{
	height: 200px; 
}

.proof2{
	height: 200px; 
}

@media only screen and (min-width : 285px) {

	.userprofile{

		.up-form{
			height: 410px; 
		}
	}
}

@media only screen and (min-width : 320px) {
	.de-confirm_by_sms{
		a.registration{
			padding: 15px 30px 9px 30px;
		}
		.line4{
			.cpt{
				margin-left: -27px;
			}
		}
	}

	.userprofile{

		.up-form{
			height: 350px; 
		}
	}
	
	.ldh3 {
		.ldi2{
			label{
				margin-left: 10px; 
			}
		}
	}

}

@media only screen and (min-width : 362px) {
	.up-form2{
		
		.ldh1{
			
			.ld1{
				
				.label11{
					margin-left: 10px;
				}

				.de-input-reg{
					
				}
			}
			.ld2{
				.label12{
					margin-left: 10px; 
				}

				.de-input-reg{

				}
			}


		// end of ldh1
	}

	.ldh2{

		.ld3{

			.label13{
				margin-left: 10px;
			}

			.de-input-reg{

			}
		}
		.ld4{
			.label14{
				margin-left: 10px; 
			}

			.de-input-reg{
				
			}
		}
		// end of ldh2
	}

	.ldh3{

		.ldi1{

		}
		.ldi2{


		}
	}
	.ld6{

	}
}
}




@media only screen and (min-width : 362px) {
	.userprofile{

		.up-form{
			height: 280px; 
			.ln6{				
				.button1{					
					display: inline;
					width: 300px;
				}

				.save{
					
				}
				.cancel{
					
				}
			}
		}
	}
}

@media only screen and (min-width : 400px) {
	//
	.userprofile{

		.up-form{
			height: 280px; 
			.ln1{
				.btn-for-label1{
					width: 285px;
				}
			}
			.ln2{
				.btn-for-label2{
					width: 285px;
				}
			}
			.ln3{

				.btn-for-label3{
					width: 285px; 
				}
			}

			.ln4{
				padding-top: 18px;    	
				.label4{
					margin-left: -172px;
				}
				.chpass_caption{
					margin-left: 27px;
				}
			}
		}
	}
}

@media only screen and (min-width : 480px) {
	.de-confirm_by_sms{
		a.registration{
			padding: 15px 80px 9px 63px;
		}
		.line3{
			span{
				margin-left: -18px;
			}
			.inpcl2{
				border-radius: 9px;
				padding-left: 10px;
				width: 201px;
				margin-left: 11px;
			}
		}
	}

	//
}


@media only screen and (min-width : 700px) {
	.userprofile{

		.up-caption{
			width: 680px;
			margin: 0 auto;
			// margin-top: -9px;
			padding-left: 11px;
			margin-bottom: 10px;
		}
		
		.up-form{
			width: 680px;
			margin: 0 auto;
		}
	}

}


@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 830px) {
	//
	.de-confirm_by_sms{
		width: 826px;
		margin: 0 auto; 
		margin-top: 70px;
		// margin-bottom: 150px;
	}

	// 
	.userprofile{
		margin: 15px auto 30px; 
		width: 830px;
		$inp_width : 200px; 
		.up-form2{

			margin: 30px auto;
			
			.ldh1{
				// outline: 3px solid blue; 
				margin: 41px auto 30px;	
				margin: 18px auto 30px;	
				margin: 40px auto 30px;

				width: 660px; 
				text-align: left;
				// width: 560px;
				// width: 736px;
				// width: 918px;
				.ld1{
					// width: 270px;
					padding-left: 13px;
					// outline: 1px yellow solid;
					text-align: left;
					display: inline-block;
					.label11{
						margin-left: 10px;
						// outline: 1px white dashed;						
					}
					.input11{
						width: $inp_width;
						// outline: 1px green solid;
						margin-left: 15px;
					}

					.de-input-reg{
						
					}
				}
				.ld2{
					padding-left: 13px;
					display: inline-block;
					// width: 270px;
					// outline: 1px yellow dashed;
					.label12{
						// margin-left: 10px;
						// outline: 1px white dashed;
					}
					.input12{
						margin-left: 15px;
						width: $inp_width;
						// outline: 1px green solid;
					}

					.de-input-reg{

					}
				}


			// end of ldh1
		}

		.ldh2{
				// outline: 3px solid blue; 	
				margin: 41px auto 30px;				
				width: 660px; 
				text-align: left;
				margin: -13px auto 17px;
				.ld3{
					// width: 270px;
					padding-left: 13px;
					// outline: 1px yellow solid;
					text-align: left;
					display: inline-block;
					.label13{
						margin-left: 10px;
						// outline: 1px white dashed;						
					}
					.input13{
						width: $inp_width;
						// outline: 1px green solid;
						margin-left: 15px;
					}

					.de-input-reg{
						
					}
				}
				.ld4{
					padding-left: 13px;
					display: inline-block;
					// width: 270px;
					// outline: 1px yellow dashed;
					.label14{
						// margin-left: 10px;
						// outline: 1px white dashed;
					}
					.input14{
						margin-left: 4px;
						width: $inp_width;
						// outline: 1px green solid;						
					}

					.de-input-reg{

					}
				}
			// end of ldh2
		}

		.ldh3{
			font-size: 14px;
			margin-bottom: 22px;
				// padding-left: 30px;
				.ldi1{
					display: inline-block;
					margin-right: 19px;
				}
				.ldi2{
					
					
				}
			}
			.ld6{
				margin-bottom: 21px; 
				a{
					font-size: 18px;
					padding: 13px 71px;
					// letter-spacing: 0.5px; 
				}
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	.de-proof{
		height: 202px;
	}
	#de-header-processing{	
		min-height: 80px !important; 
		margin-bottom: 1px !important; 
		width: 100%; 
	}
	//
	.proof2{
		// height: 900px;
	}
	.de-confirm_by_sms{
		width: 826px;
		margin-top: 150px;		
	}
}

@media only screen and (min-width : 1248px) {
	.de-proof{
		height: 2px;
	}
}

@media only screen and (min-width : 1280px) {	
	
	.main-container{
		width: 1280px;
		margin: 0 auto;   
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}