@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "fonts.css";

// Общие стили ///////////////

// Цвет
$red:#FF3939;
$brown:#343434;
$green:#007000;

// Заголовок
h2{
	font-family: TondoCorp;
	font-size: 30px;
}

// Кнопка
.button1{
	background: #343434;
	display: inline-block;
	border-radius:10px;
	padding:13px 27px;
	color: #fff;
	font-family: TondoCorp;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: underline;
	border: 1px solid rgba(255, 255, 255, 0.55);
	box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.75);
}

// инпут
.input-class{
	outline:none;
	border:none;
	border-radius:10px;
	height: 29px;
	padding-left:15px;
	font-family: TondoCorp;
	font-size: 16px;
	color:#343434;
}

// Чекбокс
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;      
    width: 21px;             
    height: 21px;            
    background:url(../img/chek1.png) no-repeat;
}
.checkbox-custom, .label {
    display: inline-block;
    vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
    content: "";             
    display: block;          
    position: absolute;      
    top: 4px;
    right: 2px;
    bottom: 2px;
    left: 3px;
    background: url(../img/galka.png) no-repeat;
    border-radius: 2px;
}

//////////////////////////////////

// Шапка /////////////////////////

.dd-header{
	width: 100%;
	padding-top:50px; 
	height: 557px;
	background: url('../img/dd-h.jpg') no-repeat top center;
	background-size:cover; 
	.main-container{
		padding: 16px 30px;
		.dd-logo{
			text-align:center;
		}
		.dd-main-menu{
			ul{
				border-radius:10px;
				background: $red;
				width: 644px;
				padding:7px 0px;
				opacity: 0.9;
				li{
					display: inline-block;
					padding-left:26px; 
					a{
						color: white;
						font-family: "TondoCorp";
						font-size: 17px;
					}
				}
			}
		}
		.dd-log-in{
			width: 204px;
			margin: 0 auto;	
			border-radius:10px;
			background: $red;
			padding:7px 0px 7px 24px;
			opacity: 0.9;
			box-shadow: 2.5px 4.3px 5px rgba(0, 0, 0, 0.18);
			a{
				display: inline-block;
				color: white;
				font-family: "TondoCorp";
				font-size: 17px;
			}
			a:first-child{
				padding-right:7px; 
			}
			a:last-child{
				border-left:3px solid #fff;
				padding-left:8px; 
			}
		}
		.dd-slogan{
			color: white;
			font-family: "TondoCorp";
			text-align:center;
			// margin-top:145px;
			margin-top:43px;
			span{
				// font-size:60px;
				font-size:45px;
				span:first-child{
					font-size:38px;
				}
				.dd-2{
					text-transform:uppercase;
					font-size:38px;
				}
			}
		}
		.dd-button-header{
			text-align:center;
			.button1{
				padding:13px 35px;
			}
		}
	}
}

/* Меню для мобильных устройств */

    #check_1{
        display: none;
        position: fixed;
        top: 25px;
        right: 25px;
        font-size: 50px; 
    }
    .anz-perspective{
        position: fixed;
        top: 0px;
        height: 100%;
        -webkit-perspective: 500px; 
        perspective: 500px;
        z-index: 150;
    }
    .menu-list-pressed{
        
    }
    #check_1:checked ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: 0px;
    }
    #check_1 ~ .anz-perspective{
        transition: all 1s ease-in-out;
        left: -330px;
    }
    #check_1:checked ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(0deg);
    }
    #check_1 ~ .anz-perspective .menu-list-pressed{
        transition: all 1s ease-in-out;
        transform: rotateY(90deg);
    }
    .anz-menu-ch{
        cursor: pointer;    
    }

/*конец menu*/

/*menu styles*/
.anz-menu{
    text-align: right;
    .dd-mainmenu{
    	li{
    		a{
    			color: #fff;
    			font-family: TondoCorp;
    			font-size: 17px;
    		}
		    a:before{
		        position: absolute;
		        bottom: -2px;
		        left: 0px;
		        content: '';
		        width: 0%;
		        height: 3px;
		        background: #777;//#cd1719;
		        transition: width 0.5s ease-in-out;
		    }
		    a:hover:before{
		        width: 100%;
		    }
    	}
    }
}
.menu-list-pressed{
    border-radius:10px;
    width: 228px;
    height: 100%;
    padding: 30px;
    line-height: 40px;
    background: $red;
    opacity: 0.9;
    text-align: left;
}
.anz-menu-ch{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 22px;
    right:25px;
    z-index: 9999;
}
.anz-menu-ch:hover{
    opacity: 0.3;
}
.main-menu{
    text-align: left;
}
.anz-menu-ch1{
    display: inline-block;
    width: 41px;
    height: 43px;
    font-size: 30px;
    position: fixed;
    top: 0px;
    right:-8px;
    // opacity: 0.4;
    cursor: pointer;
}
.anz-menu-ch1:hover{
    opacity: 0.8;
}

/*Конец menu styles*/







@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dd-header{ 
		padding-top:0px;
		.main-container{
			.dd-logo{
				// width: 284px;
				text-align:left;
				float:left;
			}
			.dd-main-menu{
				float:left;
			}
			.dd-log-in{
				float:right;
			}
			.dd-slogan{
				margin-top:110px;
				span{
					font-size:60px;
				}
			}
		}
	}
}

@media only screen and (min-width : 1248px) {
	.dd-header{ 
		.main-container{
			.dd-logo{
				width: 284px;
			}
		}
	}
}
